/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@500&display=swap');

body {
    background-color: #222;
    color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0;
    font-family: 'Rajdhani', sans-serif;
}

.main-title {
    background-color: #111;
    margin-bottom: 20px;
    font-size: 20px;

}
.description {
    margin-top: 0;
    margin-bottom: 30px;
    font-size: 20px;
}

.players {
    display: flex;
    justify-content: center;
}

/* Players score */
.player-info {
    background-color: #333;
    width: 400px;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
}
#computer-board {
    margin-left: 200px;
}
.score-section {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
.player-icon {
    font-size: 70px;
}
#user-score, #computer-score {
    font-size: 30px;
    padding: 10px;
}

/* Choices */
.choices {
    display: flex;
    justify-content: space-between;
}
.choice {
    border: 2px solid #555;
    width: 120px;
    border-radius: 10px;
    transition: all .07s ease;
}
/* .choice:hover {
    background-color: #555;
} */
.choice .choice-icon {
    font-size: 100px;
    margin: auto;
}


/* Style score points */
.points {
    display: flex;
    justify-content: center;
    padding: 10px;
    margin-top: 40px;
}
.point {
    margin-right: 10px;
}
.gray-point {
    background-color: #555;
    height: 40px;
    width: 40px;
    border-radius: 100%;
}
/* Victory point */
.green-point {
    background-color: rgb(95, 224, 149);
    height: 40px;
    width: 40px;
    border-radius: 100%;
}

/* round winner announcement*/
#round-winner {
    margin-top: 50px;
    font-size: 40px;
}

/* Dynamic classes */
/* Score cards */
.winner-choice {
    background-color: rgb(73, 138, 89);
    border: 4px solid #999;
    width: 120px;
    border-radius: 10px;
}
.loser-choice {
    background-color: rgb(212, 53, 53);
    border: 4px solid #999;
    width: 120px;
    border-radius: 10px;
}
.tie-choice {
    background-color: #777;
    border: 4px solid #999;
    width: 120px;
    border-radius: 10px;
}


/* Modal style */
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 200px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #333;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
    width: 30%;
    height: 30%;
}

.modal-content button {
    background-color: #555;
    color: aliceblue;
    height: 80px;
    width: 120px;
    margin-top: 50px;
    font-weight: 900;
    font-size: larger;
    border-radius: 10px;
    border: 0 solid #777;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

/*Remove when screen gets smaller 
.rm {
    display: none;
}
*/